.blog-box {
    margin: 10px;
    box-shadow: 3px 3px 5px #D3D3D3;
    background-color: #FFFfff;
    border-radius: 10px;
  }
  
  .div-image{
    border-radius: 10px 0px 0px 10px;
    width:100%;
    object-fit: fill;
  }

.blog-inner-box{
    padding:10px
  }

  .base{
    padding:20px
  }