<!-- Footer -->
<footer class="page-footer font-small pt-4 #b71c1c red darken-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <img src="assets/logo/logo-white-1000-300-center.png" class="footer-content" height="80" alt="Depression 2020s logo">
          <br>
          <p class="footer-content">Opinion & Analysis on how to protect yourself in the upcoming Economic Depression</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contact</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Instagram</a>
            </li>
            <li>
              <a href="#!">Facebook</a>
            </li>
            <li>
              <a href="#!">Twitter</a>
            </li>
            <li>
              <a href="#!">Email</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#"> Depression 2020s</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->