<div class="container base">
    <div class="text-center abouttitle">
        <h1>About</h1>
        <h2>We hope everyone can protect themselves through gaining financial knowledge.</h2>
        <p>
          I am Andrew, the creator of Depression 2020s Website.
        </p>
        <p>
          The inception of this website can be traced back to 5th of April, the day where I decided to warn a few of my friends this upcoming depression.
          Some of my friends are interested to know why and so I begin drafting my Whatsapp message to explain all the reasons.
             
        </p>
    </div>
</div>
