<div class="container base">
    <div class="text-center abouttitle">
        <h1>Thanks for your support</h1>
        <h2>We hope that our information is helpful. We need your help to sustain.</h2>
        <p>
          As of now, we don't plan to do ads on our website as it may ruin the overall experience of the users. 
          Therefore, we hope that you, readers can kindly donate to keep this website sustained.
          We accept 5 cryptocurrencies (Bitcoin, Ether, Tezos, Monero and Stellar) and also any ERC-20 tokens including USD-T (ERC-20) as donations.
          Your donations will be directed towards feeding the writers, hosting of the website and future developments of the website. 
        </p>
    </div>
</div>
