.crypto{
    height: 150px;
    margin: 10px;
}

.crypto_div{
    text-align: center;
}

.design{
    border-style: solid;
    border-color: #8b0101;
    border-width: 5px;
}

.donatetitle{
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}
