<br>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4 crypto_div">
            <br>
            Bitcoin (BTC)
            <br>
            <img class="crypto" src="assets/crypto_address/1KNz9SvZaxdXFEHbAtSfLvSTWSbLWrj93g Bitcoin QR.png" alt="Bitcoin QR">
            <br>
        </div>
        <div class="col-md-4 crypto_div">
            <br>
            Ether (ETH)
            <br>
            <img class="crypto" src="assets/crypto_address/0x96CE3c1fF8E54396C29818fe665763E42041Bc41 Ether QR.png" alt="Ether QR">
            <br>
        </div>
        <div class="col-md-4 crypto_div">
            <br>
            Monero (XMR)
            <br>
            <img class="crypto" src="assets/crypto_address/42UWdihEzJn9HY1N3h6moce4VcKmHudamXrZ1AjUkwV594eQ1BGY3h1Yxz5Ljzefu9h8Rkutsk2eRa3j4QehQL6vEQQcmpD Monero QR.png" alt="Monero QR">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 crypto_div">
            <br>
            Monero (XMR)
            <br>
            <img class="crypto" src="assets/crypto_address/42UWdihEzJn9HY1N3h6moce4VcKmHudamXrZ1AjUkwV594eQ1BGY3h1Yxz5Ljzefu9h8Rkutsk2eRa3j4QehQL6vEQQcmpD Monero QR.png" alt="Monero QR">
        </div>
        <div class="col-md-4 crypto_div">
            <br>   
            Stellar (XLM)
            <br>
            <img class="crypto" src="assets/crypto_address/GC3KS34FC2QWVN56BV4RL6LEK3PQGAQ7EDIFJCAKNWRYPQZZWNXKYCRA Stellar QR.png" alt="Stellar QR">
        </div>
        <div class="col-md-4 crypto_div">
            <br>
            ERC-20
            <br>
            <img class="crypto" src="assets/crypto_address/0x96CE3c1fF8E54396C29818fe665763E42041Bc41 Ether QR.png" alt="ERC-20 QR">
        </div>
    </div>
    <br>
</div>
<br>