<div class="newJob">
    <button routerLink="/admin/blogcrud/new" mdbBtn type="button" class="lighten red darken-4" text-color="white" mdbWavesEffect>New Job</button>

    <div class="md-form">
      <input mdbInput #query type="text"  class="form-control">
      <label for="search">Search...</label>
    </div>
</div>

<div class="container">
  <div class="row">
      <mat-card class="col-md-3 blog-box hoverable" *ngFor=" let blog of blogs | async">
        <a><div class="blog-inner-box" routerLink="../../blog/{{blog.id}}">
          <div>
            <img class="div-image" src="{{blog.imageURL}}" *ngIf="blog.imageURL">
          </div>
          <h2>{{blog.title}}</h2>
          <p>{{blog.author}}</p>
        </div></a>
        <div class="blog-inner-box" bottom="0" position="fixed">
          <a><mdb-icon (click)="edit(blog)" fas icon="edit" size="" class=""></mdb-icon></a> 
          &nbsp;
          <a><mdb-icon (click)="delete(blog)" fas icon="trash-alt" size="" class=""></mdb-icon></a>
       </div>
         </mat-card>
  </div>
</div>