<div class="container">
  <div class="newJob">
    <button routerLink="/admin/blogcrud/new" mdbBtn type="button" class="lighten red darken-4" text-color="white" mdbWavesEffect>New Job</button>

    <div class="md-form">
      <input mdbInput #query type="text"  class="form-control">
      <label for="search">Search...</label>
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <mat-card class="col-sm-4" *ngFor=" let blog of blogs | async">
      <div class="blog-box hoverable">
        <div class="row" routerLink="../../blog/{{blog.id}}"> 
          <div class="col">
            <a>
              <img class="div-image" src="{{blog.imageURL}}" *ngIf="blog.imageURL">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="blog-inner-box"> 
              <h2>{{blog.title}}</h2>
              <p>{{blog.author}}</p>
              <p>Public: {{blog.isPublic}}</p>
            </div>
          </div>
        </div>
        <div class="row" bottom="0" position="fixed">
          <div class="col">
            <div class="blog-inner-box">
              <a><mdb-icon (click)="edit(blog)" fas icon="edit" size="" class=""></mdb-icon></a> 
              &nbsp;
              <a><mdb-icon (click)="delete(blog)" fas icon="trash-alt" size="" class=""></mdb-icon></a>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>