<div class="newJob">
    <button routerLink="/admin/blogcrud/new" mdbBtn type="button" class="lighten red darken-4" text-color="white" mdbWavesEffect>New Job</button>

    <div class="md-form">
      <input mdbInput #query type="text"  class="form-control">
      <label for="search">Search...</label>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-4" *ngFor=" let blog of blogs | async">
        <div routerLink="{{blog.id}}">
          <img src="{{blog.imageURL}}" *ngIf="blog.imageURL" width="200px">
          <h2>{{blog.title}}</h2>
          <p>{{blog.author}}</p>
        </div>
        <a>
          <mdb-icon (click)="edit(blog)" fas icon="edit" size="2x" class="indigo-text mr-3"></mdb-icon>
        </a>
        <a>
          <mdb-icon (click)="delete(blog)" fas icon="trash-alt" size="2x" class="red-text"></mdb-icon>
        </a>
      </div>
  </div>
</div>