<div class="container base">
    <br>
    <div class="text-center disclaimertitle">
        <h1>Disclaimer</h1>
        <br>
        <h2>This is not a financial/investment advisor website.</h2>
        <p>
          We are not licensed advisors. 
          Any advice given only reflect those of the authors and should not be followed blindly without any understanding. 
          If the resources given are insufficient for you to fully understand the topic, please drop us a message using the contact form or email us at depress2020s@gmail.com.
          We shall reply you with our explanation and update the content for a better understanding if necessary.
        </p>
        <br>
        <h2>Report our mistakes</h2>
        <p>
          We are humans of limited knowledge but we are willing to learn from our mistakes. 
          All the blogs and ebooks posted are solely based on the sources and our knowledge.
          If any facts which are mistakenly stated, please drop us a message using the contact form or email us at depress2020s@gmail.com. 
          We shall verify and make any edits if necessary.
        </p>
    </div>
</div>