<div class="container base">
    <br>
    <div class="text-center disclaimertitle">
        <h1>Disclaimer</h1>
        <h2>We are not a financial/investment advisor website.</h2>
        <p>
          As of now, we don't plan to do ads on our website as it may ruin the overall experience of the users. 
          Therefore, we hope that you, readers can kindly donate to keep this website sustained.
          We accept 5 cryptocurrencies (Bitcoin, Ether, Tezos, Monero and Stellar) and also any ERC-20 tokens including USD-T (ERC-20) as donations.
          Your donations will be directed towards feeding the writers, hosting of the website and future developments of the website. 
        </p>
    </div>
</div>